@import "../../styles/variables.less";

@fontSize: 50px;
@fontSizeMedium: 40px;
@fontSizeSmall: 35px;

.intro {
  font-size: @fontSize;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  h1 {
    font-size: 1em;
    margin: 0;
  }
  h2 {
    font-size: 0.6em;
    margin: 0;
  }
  &__text-color1 {
    color: @pink-rose;
  }
  &__text-color2 {
    color: @aqua;
  }
  &__text-color3 {
    color: @lemon;
  }
  .computer {
    z-index: 0;
  }
}

.intro-row {
  display: flex;
  align-items: flex-end;
  z-index: 1;
  max-height: 300px;
  overflow: hidden;
  &__box {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 300px;
    width: 25vw;
    padding-top: 25%;
    &--color1 {
      background-color: @pink-rose;
    }
    &--color2 {
      background-color: @aqua;
    }
  }
}

.greeting, .summary {
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 30px;
}

.greeting {
  &__title {
    font-weight: normal;
    white-space: nowrap;
    &--color1 {
      color: @lemon;
    }
  }
  &__sub-title {
    font-weight: normal;
    white-space: nowrap;
  }
  &__sub-title-small {
    font-size: 0.8em;
    font-weight: normal;
    white-space: nowrap;
  }
}

.summary {
  font-size: 0.4em;
  font-weight: normal;
}

@media (max-width: 900px) {
  .intro {
    font-size: @fontSizeMedium;
  }
}

@media (max-width: 700px) {
  .intro {
    font-size: @fontSizeSmall;
  }
}

@media @mobile {
  .greeting, .summary {
    padding: 0 15%;
  }
  .intro {
    font-size: @fontSizeMedium;
  }
  .intro-row {
    height: 50vw;
    align-items: center;
    max-height: initial;
    &__box {
      &--color1, &--color2 {
        display: none;
      }
    }
  }
  .computer {
    display: none;
  }
}