@import "../../styles/variables.less";

@fontSize: 50px;
@introBottomPadding: 30px;

.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  &__text-color1 {
    color: @pink-rose;
  }
  &__text-color2 {
    color: @aqua;
  }
  &__text-color3 {
    color: @lemon;
  }
  .computer {
    z-index: 0;
  }
}

.intro-row {
  display: flex;
  align-items: flex-end;
  z-index: 1;
  max-height: 300px;
  overflow: hidden;
  &__box {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 300px;
    width: 25vw;
    padding-top: 25%;
    &--color1 {
      background-color: @pink-rose;
    }
    &--color2 {
      background-color: @aqua;
    }
  }
}

.greeting, .summary {
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 30px;
}

.greeting {
  &__title {
    font-size: @fontSize;
    white-space: nowrap;
    &--color1 {
      color: @lemon;
    }
  }
  &__sub-title {
    font-size: @fontSize*0.6;
    white-space: nowrap;
  }
  &__sub-title-small {
    font-size: @fontSize*0.5;
    white-space: nowrap;
  }
}

.summary {
  font-size: @fontSize*0.4;
}

@media (max-width: 900px) {
  @fontSizeMobile: 40px;
  .greeting, .summary {
    padding: 0 15%;
  }
  .greeting {
    &__title {
      font-size: @fontSizeMobile;
    }
    &__sub-title {
      font-size: @fontSizeMobile*0.6;
    }
    &__sub-title-small {
      font-size: @fontSizeMobile*0.5;
    }
  }
  .summary {
    font-size: @fontSizeMobile*0.4;
  }
  .intro-row {
    height: 50vw;
    align-items: center;
    max-height: initial;
    overflow: visible;
    &__box {
      &--color1, &--color2 {
        display: none;
      }
    }
  }
  .computer {
    display: none;
  }
}