@import '../../styles/variables.less';

.footer {
  background-color: @dark-carbon;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  header h1 {
    font-size: 1em;
    font-weight: normal;
  }
}

.footer-section {
  margin-left: 50px;
  &:first-child {
    margin-left: 0;
  }
}

.footer-sub-section {
  margin-bottom: 15px;
}

.footer-sub-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-decoration: none;
  color: currentColor;
  &__icon {
    width: 12px;
  }
  &__title {
    margin-left: 10px;
  }
  &--button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: @pink-rose;
  }
}

.footer-sub-section-main {
  margin-left: 22px;
  color: @lighter-carbon;
  font-size: 0.8em;
  p, a {
    margin: 0;
    color: @lighter-carbon;
    text-decoration: none;
  }
}

@media @mobile {
  .footer {
    flex-wrap: wrap;
    justify-content: left;
  }
  .footer-section:first-child {
    margin-left: 50px;
  }
}

